<tr class="<%= cycle('even', 'odd') %>">
	<td>
		<% if File.extname(file.filename) == '.mp3' %>
		<%= link_to image_tag('media-playback-start.png'), folder_file_path(current.folder, file), :title => file.filename, :class => 'noBackground playButton' %>
		<% else %>
		<%= image_tag 'file.png' %>
		<% end %>
	</td>
	<td><%= link_to h(file.filename), folder_file_path(current.folder, file) %></td>
	<td><span class="unit"><%= file.filesize %> bytes</span></td>
	<td><%= file.updated_at %></td>
	<td>
		<% if @can_update %>
		<%= link_to image_tag('edit.png'), edit_folder_file_path(current.folder, file), :title => 'Rename this file', :class => 'noBackground' %>
		<% end %>
	</td>
	<td>
		<% if @can_delete %>
		<%= link_to image_tag('delete.png'), folder_file_path(current.folder, file), :method => :delete, :title => 'Delete this file', :confirm => 'Are you sure?', :class => 'noBackground' %>
		<% end %>
	</td>
	<td>
	</td>
</tr>