<p class="title">
	<%= path(current.folder, false) %>
	&nbsp;
	<span class="small">Permissions</span>
</p>

<div id="folder_rights"><div>
	<% form_tag update_permissions_folder_path(current.folder), :method => :put do %>
	<table class="grid">
		<tr>
			<th></th>
			<th></th>
			<th class="rights">Create</th>
			<th class="rights">Read</th>
			<th class="rights">Update</th>
			<th class="rights">Delete</th>
		</tr>
		<% @groups.each do |grp| %>
		<% perms = @permissions.fetch grp.id, @no_permission %>
		<tr class="<%= cycle('even', 'odd') %>">
			<td><%= image_tag('group.png') %></td>
			<td class="large"><%= h grp.name %></td>
			<td class="rights">
				<%= check_box_tag "permissions[#{ grp.id }][c]", 1, perms.can_create?, :onclick => "CheckRead(this.checked, #{ grp.id })" %>
			</td>
			<td class="rights">
				<%= check_box_tag "permissions[#{ grp.id }][r]", 1, perms.can_read?, :onclick => "UncheckCreateUpdateDelete(this.checked, #{ grp.id })" %>
			</td>
			<td class="rights">
				<%= check_box_tag "permissions[#{ grp.id }][u]", 1, perms.can_update?, :onclick => "CheckRead(this.checked, #{ grp.id })" %>
			</td>
			<td class="rights">
				<%= check_box_tag "permissions[#{ grp.id }][d]", 1, perms.can_delete?, :onclick => "CheckRead(this.checked, #{ grp.id })" %>
			</td>
		</tr>
		<% end %>
	</table>
	<br />
	<%= submit_tag 'Save' %>&nbsp;
	<%= submit_tag 'Save Recursive', :name => 'recursive', :onclick => '' %>
	<% end %>
</div></div>
