<p class="title">
	<%= path(current.folder, false) %>
	&nbsp;
	<span class="small">Rename Folder</span>
</p>

<p><%= error_messages_for :folder %></p>

<% form_for current.folder do |form| %>
<%= hidden_field_tag :parent_id, @folder.parent_id %>

<%= form.text_field :name, :class => 'focused' %>
<%= submit_tag 'Rename' %>
<% end %>
