<p class="title">
	<%= path(current.folder, false) %>
	&nbsp;
	<span class="small">Create Folder</span>
</p>

<p><%= error_messages_for :folder %></p>

<% form_for @folder do |form| %>
	<%= hidden_field_tag :parent_id, params[:parent_id] %>

	<%= form.text_field :name, :class => 'focused' %>
	<%= submit_tag 'Create' %>
<% end %>
