<%= name_to_username(error_messages_for('user')) %>

<label for="user_name">Username</label><br/>
<%= text_field 'user', 'name', :style => 'width:220px;' %><br />
<br />

<label for="user_email">E-mail address</label><br/>
<%= text_field 'user', 'email', :style => 'width:220px;' %><br />
<br />

<label for="user_password">
	<%= controller.action_name != 'new' ? 'New p' : 'P' %>assword
</label><br/>
<%= password_field 'user', 'password', :style => 'width:220px;' %><br />
<br />

<label for="user_password_confirmation">
	Confirm <%= controller.action_name != 'new' ? 'New p' : 'P' %>assword
</label><br/>
<%= password_field 'user', 'password_confirmation', :style => 'width:220px;' %><br />
<br />

<% if @logged_in_user.is_admin? %>
Member of these groups<br>
<table>
	<tr>
		<%= render :partial => 'group', :collection => Group.all %>
	</tr>
</table>
<br />
<% end %>
