<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<%= chrome_frame_meta %>
	<title>Rockflu</title>
	<%= stylesheet_link_tag 'boxroom', 'jplayer' %>

	<%= auto_discovery_link_tag :rss, feed_folder_path(:id => current.folder.id, :access_key => @current.user.rss_access_key) %>

	<%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.utils.min', 'application', 'convenience' %>
	<%= javascript_include_tag 'jquery.jplayer', 'jquery.playlist' %>

	<script type="text/javascript" charset="utf-8">
		$(function () {
			Convenience.applyGeneric();
			$('.playButton').playlist();
		});
	</script>
</head>
<body id="foldersLayout">
	<%= chrome_frame %>

	<div id="top">
		<div class="header">
			<div class="userSettings">
				<%= render :partial=>'shared/logged_in_user_menu' %>
			</div>

			<div class="search">
			</div>
		</div>

		<div class="topNavigation">
			<div class="links">
				<%= render :partial => 'shared/navigation' %>
			</div>
		</div>
	</div>

	<div id="middle">
		<div class="actionLinks">
			<%= render :partial => 'sidebar' %>
		</div>

		<div class="content">
			<%= yield %>
		</div>
	</div>

	<div id="bottom">
		<%= render :partial => 'shared/jplayer' %>
	</div>

</body>
</html>